*{
    box-sizing: border-box;
}

.parentdiv{
    width:100%;
    height:auto;
    padding:"3rem";
    background: "white"; 
}

.chartcontainer{
    position: relative;
    height: 60vh;
    width: 50vw;
    align-self: center;
    margin-left: 25%;
}

.title{
    color:blue;
    font-size: 16px;
    align-items: center;
    margin-left: 50%;
}

.piecontainer{
    position: relative;
    height:22vh;
    width: 30vw;
    align-self: center;
    margin-left: 25%;
}

.arrowup{
    margin-top: 70%;
}

.p{
    margin-left:75%;
    color:blue;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
